#about {
    background-color: white;
    width: 70vw;
    margin: 70px auto;
    padding-top: 16px;
}

.aboutTimeline {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 63vw;
}

.aboutPicture {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

@media (max-width: 1000px) {
    .aboutTimeline {
        flex-direction: column;
    }

    .aboutPicture {
        order: 1; /* aboutTimeline内の最後に配置される */
        margin-top: 20px; /* 文章との間隔を空ける */
    }
}
